{{ define "breadcrumb" }}


{{ end }}

{{define "content"}}
    <div class="col-xs-offset-4 col-xs-8">
        <form class="form-horizontal" action = "/linode/create" method = "post">
          <fieldset>
            <legend>Create New</legend>

            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Datacenter ID</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" name="datacenterId">
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Plan ID</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputPassword" name="planId">
              </div>
            </div>


            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
    </div>

{{end}}


{{define "sidebar"}}

{{end}}

{{define "scripts"}}

{{end}}
