{{ define "breadcrumb" }}


{{ end }}

{{define "content"}}
    <div class="container">
        <div class="jumbotron">
            <h1>Distributor</h1>
            <p> Behold Distributor Arrives.</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
    </div>

{{end}}


{{define "sidebar"}}

{{end}}

{{define "scripts"}}

{{end}}
