{{ define "breadcrumb" }}


{{ end }}

{{define "content"}}
    <div class="panel panel-default">
        <div class="panel-heading">
            Linode List
            <a href="/linode/create" class = "pull-right">Create</a>
        </div>
    </div>

    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>ID</th>
          <th>Label</th>
          <th>Status</th>
          <th>Column heading</th>
        </tr>
      </thead>
      <tbody>
        {{range $linode := .Linodes}}
            {{if eq $linode.Status 1 }}
                <tr class = "success">
                {{else}}
                <tr class = "danger">
                {{end}}

                  <td>{{ $linode.ID }}</td>
                  <td>{{ $linode.Label }}</td>
                  <td>{{ $linode.Status }}</td>
                  <td>
                      <form class="" action="/linode/edit/{{$linode.ID}}" method="post">
                            <button class = "btn btn-primary btn-xs" type="submit" name="submit">Edit</button>
                      </form>

                  </td>
                </tr>
        {{end}}

      </tbody>
    </table>

{{end}}


{{define "sidebar"}}

{{end}}

{{define "scripts"}}

{{end}}
